<h1>登陆</h1>
<%= form_tag sessions_path, method: :post, class: "form-horizontal" do %>
  <div class="form-group">
    <label class="col-sm-2 control-label">手机号 *</label>
    <div class="col-sm-4">
      <%= text_field_tag :cellphone, nil, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">密码 *</label>
    <div class="col-sm-4">
      <%= password_field_tag :password, nil, class: "form-control" %>
    </div>
  </div>
  <!-- 输入Captcha -->
  <div class="form-group">
    <label class="col-sm-2 control-label">验证 </label>
    <div class="col-sm-2">
      <%= rucaptcha_input_tag(class: 'form-control', placeholder: 'Input Captcha') %>
      <span class="input-group-addon input-group-captcha"><a class="rucaptcha-image-box" href="#"><%= rucaptcha_image_tag %></a></span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2">
      <div class="pull-left">
        <a href="<%= new_user_path %>">注册</a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-12">
      <input type="submit" name="sign_submit" value="登陆" class="col-xs-12 btn btn-primary">
    </div>
  </div>
<% end -%>
