<h2>编辑课程</h2>

<%= simple_form_for [:admin,@lesson] do |f| %>
<%= f.input :title %>
<%= f.input :intro, label: "简介"%>
<%= f.input :description, label: "详情介绍(markdown)" %>
<%= f.input :subtitle, label: "副标题" %>
<%= f.input :price %>
<%= f.input :weight %>
<%= f.input :main_image, label: "在首页的展示图" %>
<%= f.input :minor_image, label: "介绍页面大图" %>
<%= f.submit "提交" %>
<% end  %>
