<div class="container">
  <h5>当前订单号：[<%= @order.id %>]</h5>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>商品名</th>
        <th>分类</th>
        <th>运费</th>
        <th>收货地址</th>
      </tr>
    </thead>
    <tbody>
      <% @order.product_lists.each do |p| %>
      <tr>
        <td><%= p.product_name  %></td>
        <td><%= p.subproduct %></td>
        <td><%= @order.carriage %></td>
        <td><%= p.address %>/<%= p.contact_name %>/<%=p.cellphone %></td>
      </tr>
      <% end %>
    </tbody>
  </table>


<hr>
  <h4>我要发货</h4>


  <hr>

  <%= form_tag(ship_admin_order_path(@order), method: "post") do %>
    <%= label_tag(:carriage_method, " 快递公司:") %>
    <%= text_field_tag(:carriage_method) %>
    <%= label_tag(:carriage_no, "运单号:") %>
    <%= text_field_tag(:carriage_no) %>
    <%= submit_tag("提交") %>
  <% end %>
</div>
