<h1>注册</h1>
<% unless @user.errors.empty? %>
  <div class="alert alert-danger">
    <ul>
      <% @user.errors.messages.values.flatten.each do |error| %>
        <li><%= error %></li>
      <% end -%>
    </ul>
  </div>
<% end -%>

<%= form_for :user, url: users_path, method: :post, html: { class: 'form-horizontal', id: "user_form"} do |f| %>
    <!--输入用户名  -->
    <div class="form-group">
      <label class="col-sm-2 control-label">用户名 *</label>
      <div class="col-sm-4">
      <%= f.text_field :username, class: "form-control" %>
      </div>
    </div>

    <!-- 输入手机号 -->
    <div class="form-group">
      <label class="col-sm-2 control-label">手机号 *</label>
      <div class="col-sm-4">
      <%= f.text_field :cellphone, class: "form-control" %>
      </div>
    </div>

    <!-- 输入验证码 -->
    <div class="form-group">
      <label class="col-sm-2 control-label">图片验证码 </label>
      <div class="col-sm-2">
        <%= rucaptcha_input_tag(class: 'form-control', placeholder: 'Input Captcha') %>
        <span class="input-group-addon input-group-captcha"><a class="rucaptcha-image-box" href="#"><%= rucaptcha_image_tag %></a></span>
      </div>
    </div>

    <!-- 手机验证码 -->
    <div class="form-group">
      <label class="col-sm-2 control-label">手机校验码 *</label>
      <div class="col-sm-2">
        <%= f.text_field :token, class: "form-control", placeholder: "手机校验码" %>
      </div>
      <div class="col-sm-2">
        <input type="button" value="获取验证码" class="btn btn-warning fetch-token-btn" data-url="<%= cellphone_tokens_path %>" />
      </div>

    </div>

    <!-- 输入密码 -->
    <div class="form-group">
      <label class="col-sm-2 control-label">密码 *</label>
      <div class="col-sm-4">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">密码确认 *</label>
      <div class="col-sm-4">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
    <!-- 创建帐户 -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" name="create_user_submit" value="创建账户" class="btn btn-primary">
      </div>
    </div>
  <% end -%>

<%= content_for :javascripts do %>
  <script>

    (function(){
    // //检查手机号是否重复：
    // $cellphone_btn = $('.fetch-cellphone-btn');
    // $cellphone_btn.click(function(){
    //   var url = $(this).data("url");
    //   cellphone = $('#user_cellphone').val();
    //   $.ajax({
    //     url: url,
    //     method: 'post',
    //     data: {cellphone: cellphone},
    //
    //   })
    // })
      $(".input-group-captcha").click(function(){
         var url = $(".rucaptcha-image").attr("src");
         $(".rucaptcha-image").attr("src", url+'#');
       })

      // 验证码
      var CELLPHONE_RE = /^(\+86|86)?1\d{10}$/;
      var token_wait = 60,
        token_interval,
        $token_btn = $('.fetch-token-btn');
      $token_btn.click(function () {
        var $this = $(this),
        cellphone = $('#user_cellphone').val();
        // cellphone = $('input[name="test"]').val();
          _rucaptcha = $('input[name="_rucaptcha"]').val();
        $.ajax({
          url: $this.data('url'),
          method: 'post',
          // data: {cellphone: cellphone},
          data: {cellphone: cellphone, _rucaptcha: _rucaptcha},
          beforeSend: function () {
            if (!CELLPHONE_RE.test(cellphone)) {
              alert("手机号码格式错误!");
              return false;
            }
            $this.data('old-value', $this.attr('value'));
            $this.attr('value', "发送中...").prop('disabled', true);
          },
          // 以下为测试图片验证码时使用
          // success: function (data) {
          //   if (data.status == 'error') {
          //     alert(1);
          //     alert(data.message);
          //
          //   }else if(data.status == "invalid_Captcha"){
          //     alert(3);
          //
          //     alert("输入的验证码错误或者已过期~~~XD");
          //   }else{
          //     alert(4);
          //     $this.attr('value', $this.data('old-value'));
          //     $this.trigger('start_token_timer');
          //   }
          // }

          // 原版
          success: function (data) {
            if (data.status == 'error') {
              alert(data.message);
            $token_btn.attr('value', '获取短信验证码').prop('disabled', false);
            } else {
              $this.attr('value', $this.data('old-value'));
              $this.trigger('start_token_timer');
            }
          }
        })
      })
      .on('start_token_timer', function () {
        token_interval = setInterval(function () {
          $token_btn.trigger('token_timer');
        }, 1000);
      })
      .on('token_timer', function () {
        token_wait--;
        if (token_wait <= 0) {
          clearInterval(token_interval);
          $token_btn.attr('value', '获取短信验证码').prop('disabled', false);
          token_wait = 60;
        } else {
          $token_btn.attr('value', '重新发送 ' + token_wait + ' 秒').prop('disabled', true);
        }
      })
    })()
  </script>
<% end %>
