<div class="checkout-html">
<div class="container">
  <h1><%= @subproduct_id %></h1>
  <h2><%= @amount %></h2>
  <%= form_tag orders_path, method: :post, class: "create-order-form" do %>

  <div class="page-header">
    <h4>选择收货地址</h4>
  </div>
  <div id="address_list"></div>

  <div class="require-order">
    <h4>确认订单信息</h4>
    <hr>

    <div class="order-require-nav">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          商品信息
        </div>
        <div class="col-sm-2 text-center">单价</div>
        <div class="col-sm-2 text-center">数量</div>
        <div class="col-sm-2 text-center">小计</div>
      </div>
    </div>

    <% carriage_total = [] %>
    <% current_cart.cart_items.each do |cart_item| %>
      <% if cart_item.is_selected? %>
      <% carriage_total << cart_item.subproduct.carriage %>
      <div class="order-require-item">
        <div class="row">
          <div class="col-sm-6">
            <div class="col-sm-2">
              <%= image_tag cart_item.subproduct.subproduct_image, class: "img-responsive" %>
            </div>
              <div class="col-sm-5">
                <%= cart_item.subproduct.product.title %>
              </div>
              <div class="col-sm-5">
                <p>已选分类：<%= cart_item.subproduct.subtitle %></p>
              </div>
            </div>
            <div class="col-sm-6 text-center">
              <div class="col-sm-4">
                <%= cart_item.subproduct.price %>
              </div>
              <div class="col-sm-4">
                <%= cart_item.quantity %>
              </div>
              <div class="col-sm-4 subtotal">
                <%= cart_item.subproduct.price * cart_item.quantity %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>

        <div class="carriage">
          <div class="row">
            <p>运送方式：<span class="bc-1">普通快递</span>快递费：<span class="carriage-price"><%= carriage_total.max %></span></p>
          </div>
        </div>

        <div class="total-money">
          <div class="row">
            <h5>合计（含运费）<span class="total">￥<%= current_cart.total_price + carriage_total.max %></span></h5>
          </div>
        </div>

        <div class="row order-require ">
          <div class="col-sm-4 col-sm-offset-8">
            <div class="detail">
              <p class="total-price">实付款：<span class="total-price-2"><span>￥</span><%= current_cart.total_price + carriage_total.max %></span></p>
              <p class="address-1">寄送至：</p><span class="require-address"></span>
              <p class="contact-1">收件人：<span class="require-contact"></span><span class="require-cellphone"></span></p>
            </div>
            <div class="btn col-sm-6">
              <%= link_to carts_path, class: "btn btn-default" do  %>
              <i class="fa fa-reply" aria-hidden="true"></i>返回购物车
              <% end %>
            </div>
            <div class="btn col-sm-6">
              <i style="display: none;" class="fa fa-spinner fa-spin fa-fw"></i>
                <input type="submit" value="确认订单" class="btn btn-danger btn-lg"/>
            </div>
          </div>
        </div>
      </div>
      <% end %>
</div>
</div>


  <%= content_for :javascripts do %>
    <script>
      $.get('/addresses', function(data) {
        $('#address_list').html(data);
      })

      $(".create-order-btn").click(function(){
        $(".fa-spinner").css("display", "block");
      })


    </script>
  <% end %>
