
  <div class="container">
    <div class="cart-nav-top">
      <p>已选商品（不含运费）<span class="cart-item-total-price"><%= render_cart_total_price(current_cart) %></span><span class="cart-nav-btn btn">结算</span></p>
    </div>
    <h1>购物车</h1>

    <%= link_to("清空购物车", clean_carts_path, method: :delete, class:"btn btn-danger pull-right", data: { confirm: "你确定要清空购物车吗？"})%>

    <div class="col-md-12 table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>全选</th>
            <th colspan="2">商品信息</th>
            <th>单价</th>
            <th>数量</th>
            <th>金额</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <%= form_tag("/carts/update_cart", method: "post") do %>

          <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <% if cart_item.is_selected? %>
              <input class="cart-item-select" id="cart-item-<%= cart_item.id %>" type="checkbox" name="<%= cart_item.id %>[id]" value="<%= cart_item.id %>" checked="true">
              <% else %>
              <input class="cart-item-select" id="cart-item-<%= cart_item.id %>" type="checkbox" name="<%= cart_item.id %>[id]" value="<%= cart_item.id %>">
              <% end %>
            </td>
            <td>
              <% if cart_item.subproduct.product.main_product_photo.product_image.present? %>
              <%= image_tag(cart_item.subproduct.product.main_product_photo.product_image.small.url, class:"img-responsive")%>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class:"img-responsive" )%>
              <% end %>
            </td>
            <td>已选分类 ：<%= cart_item.subproduct.subtitle%></td>
            <td> ￥<%= cart_item.subproduct.price %></td>
            <td>
              <div id="cart-item-quantity-<%= cart_item.id %>">
                <% if cart_item.is_selected? %>
                <input id="quantity-<%= cart_item.id %>" class="quantity-input" data_step="1" name="<%= cart_item.id %>[quantity]" data_edit="true" data_min="1" data_max="523698" data_digit="0" value="<%= cart_item.quantity %>"/>
                <% else %>
                <input id="quantity-<%= cart_item.id %>" class="quantity-input" data_step="1" disabled="disabled" name="<%= cart_item.id %>[quantity]" data_edit="true" data_min="1" data_max="523698" data_digit="0" value="<%= cart_item.quantity %>"/>
                <% end %>
              </div>
              <!-- 一个辅助的隐藏表单 -->
              <input type="hidden" id="quantity-help-<%= cart_item.id %>" name="<%= cart_item.id %>[quantity]" value="<%= cart_item.quantity %>">
            </td>
            <td>
              <% if cart_item.is_selected? %>
              <span>￥</span><span id="cart-item-price-<%= cart_item.id %>" class="selected-item-price cart-item-price"><%= cart_item.subproduct.price * cart_item.quantity %></span>
              <% else %>
              <span>￥</span><span id="cart-item-price-<%= cart_item.id %>" class="cart-item-price"><%= cart_item.subproduct.price * cart_item.quantity %></span>
              <% end %>
            </td>
            <td>
              <%= link_to(content_tag(:i,"", class: "fa fa-trash"), cart_item_path(cart_item),method: :delete, data:{confirm: "确定吗？"})%></td>
          </tr>
          <!-- hidden-form -->
          <input type="hidden" name="item-price-<%= cart_item.subproduct.price %>" disabled="true" value="<%= cart_item.subproduct.price %>">
          <% end %>
        </tbody>
      </table>
      <div class="total clearfix">
        <div class="all-select">
          <input type="hidden" id="select_help" value="0">
          <input class="cart-item" type="checkbox" name="select-item" value="" >

        </div>

      </div>
      <hr/>
      <div class="checkout-btn checkout-btn-1">
        <input id="checkout-btn-1" type="submit" value="去结算" class="btn btn-success btn-lg"/>
      </div>
      <div style="display: none;" class="checkout-btn checkout-btn-2">
        <span id="checkout-btn-2" class="btn btn-danger">去结算</span>
      </div>
      <% end %>
    </div>
  </div>





  <script>
    <% current_cart.cart_items.each do |cart_item| %>
    // 更改数量时
    $("#cart-item-quantity-<%= cart_item.id %>").click(function(){
      var price = $('input[name="item-price-<%= cart_item.subproduct.price %>"]').val();
      var quantity = $("#quantity-<%= cart_item.id %>").val();
      var max_quantity = <%= cart_item.subproduct.quantity %>;

      if (quantity > max_quantity){
        $("#quantity-<%= cart_item.id %>").val(max_quantity);
        alert("输入在数量大于当前商品的库存，已更改为最大可买数量！");
      }
      $("#cart-item-price-<%= cart_item.id %>").html(price * quantity);
      var total = 0;
        $(".selected-item-price").each(function(i){
          total += parseInt($(this).html());
        });
      $(".cart-item-total-price").html(total);
      // 赋值给辅助提交表单
      $("#quantity-help-<%= cart_item.id %>").val(quantity);
    })
    // 更改数量时判断
    $("#cart-item-quantity-<%= cart_item.id %>").change(function(){
      var price = $('input[name="item-price-<%= cart_item.subproduct.price %>"]').val();
      var quantity = $("#quantity-<%= cart_item.id %>").val();
      var max_quantity = <%= cart_item.subproduct.quantity %>;

      if (quantity > max_quantity){
        $("#quantity-<%= cart_item.id %>").val(max_quantity);
        alert("输入在数量大于当前商品的库存，已更改为最大可买数量！");
      }
      $("#cart-item-price-<%= cart_item.id %>").html(price * quantity);
      var total = 0;
        $(".selected-item-price").each(function(i){
          total += parseInt($(this).html());
        });
      $(".cart-item-total-price").html(total);
      $("#quantity-help-<%= cart_item.id %>").val(quantity);
    })



// 选择时为表单生效
$("#cart-item-<%= cart_item.id %>").click(function(){
  var option = $("#quantity-<%= cart_item.id %>").prop("disabled");
  // alert(option);

  if (option == ""){
    // alert(1);
    $("#quantity-<%= cart_item.id %>").prop("disabled", "disabled");
    $("#cart-item-price-<%= cart_item.id %>").removeClass('selected-item-price');
    var total = 0;
      $(".selected-item-price").each(function(i){
        total += parseInt($(this).html());
      });
    $(".cart-item-total-price").html(total);
    $("#quantity-help-<%= cart_item.id %>").prop("disabled", "disabled");
    // 判断当前选择是否为空
    if($(".cart-item-total-price").html() == "0"){
      $(".checkout-btn-2").css("display", "block");
      $(".checkout-btn-1").css("display", "none");
    }else{
      $(".checkout-btn-2").css("display", "none");
      $(".checkout-btn-1").css("display", "block");
    }
  }else{
    // alert(2);
    $("#quantity-<%= cart_item.id %>").prop("disabled", false);
    $("#cart-item-price-<%= cart_item.id %>").addClass('selected-item-price');
    var total = 0;
      $(".selected-item-price").each(function(i){
        total += parseInt($(this).html());
      });
    $(".cart-item-total-price").html(total);
    $("#quantity-help-<%= cart_item.id %>").prop("disabled",false);
    // 判断当前选择是否为空
    if($(".cart-item-total-price").html() == "0"){
      $(".checkout-btn-2").css("display", "block");
      $(".checkout-btn-1").css("display", "none");
    }else{
      $(".checkout-btn-2").css("display", "none");
      $(".checkout-btn-1").css("display", "block");
    }
  }
})

    <% end %>


    $(".all-select").click(function(){
      var current_value = $("#select_help").val();

      if (current_value == 0 ){
        // 全选
        $(".cart-item-price").addClass('selected-item-price');
        $(".cart-item-select").prop('checked', true);
        var total = 0;
          $(".cart-item-price").each(function(i){
            total += parseInt($(this).html());
          });
        $(".cart-item-total-price").html(total);
        $("#select_help").val(1);
        $(".quantity-input").prop("disabled", false);

        // 判断当前选择是否为空
        if($(".cart-item-total-price").html() == "0"){
          $(".checkout-btn-2").css("display", "block");
          $(".checkout-btn-1").css("display", "none");
        }else{
          $(".checkout-btn-2").css("display", "none");
          $(".checkout-btn-1").css("display", "block");
        }
      }else{
        // 不选
        $(".cart-item-select").prop("checked",false);
        $("#select_help").val(0);
        $(".cart-item-total-price").html("0");
        $(".selected-item-price").removeClass('selected-item-price');
        $(".quantity-input").prop("disabled", "disabled");



        // 判断当前选择是否为空
        if($(".cart-item-total-price").html() == "0"){
          $(".checkout-btn-2").css("display", "block");
          $(".checkout-btn-1").css("display", "none");
        }else{
          $(".checkout-btn-2").css("display", "none");
          $(".checkout-btn-1").css("display", "block");
        }

      }
    })


    // 选择为空时的提示
    $("#checkout-btn-2").click(function(){
      alert("请选择要要结算的商品~");
    })


  </script>
