<div class="container">
  <h1>支付</h1>

  <div id="address_list"></div>

  <div class="row">
    <div class="container">
      <div class="page-header">
        <h4>
          <i class="fa fa-credit-card"></i>
          支付宝付款</h4>
      </div>
      <p>订单号:
        <%= @payment.orders.map { |order| "<strong>#{order.token}</strong>" }.join(', ').html_safe %></p>
      <ul class="list-group">
        <li class="list-group-item">
          <%= image_tag "alipay.png", width: 100 %>
        </li>
      </ul>

      <br/>
      <div class="pull-right">
        <form action="<%= @payment_url %>" method="post">
          <% $pay_options.each do |k, v| %>
          <input name="<%= k %>" value="<%= v %>"/>
          <% end -%>
          <strong>¥<%= @payment.total_money %></strong>
          <input type="submit" value="支付" class="btn btn-success btn-lg"/>
        </form>
      </div>
      <div class="container">
        <%= $pay_options.each do |k, v| %>
        <hr>
        <span><%= k %></span>/<span><%= v %></span>
        <% end %>
      </div>
      <hr>

      <hr>
      <p><%= @raw %></p>
      <hr>
      <div class="container">
        <h2><%= simple_format(@raw) %></h2>
      </div>
      <h1 id="order-1"><%= @raw_order %>n</h1>
      <hr>
      <p><%= @pay_qr %></p>
      <h1><%= @order_status %></h1>
      <div><%= raw @qr.as_html %></div>
      <h1><%= @payment_token %></h1>
    </div>
    <hr>
    <%= link_to("支付", create_payment_payment_path(@payment.payment_no), class: "payment-btn btn btn-success", id: "payha") %>
  </div>
  <hr>
<div id="pay_qrcode">

  </div>
  <div id="mytest"></div>
</div>

<script>
var int=self.setInterval("clock()",1500);

function clock()
  {

    $.ajax({
      url: "/payments/test",
      method: "POST",
      data: { order: "<%= @raw_order %>" },
      dataType: "json",
      success: function(data){
      status = data["liang"];
      // alert(data["liang"])
      if (status == 1)
        {
          window.location.href='http://www.baidu.com';
        }
      }
    })
  }


$(".payment-btn").click(function(evt){
event.preventDefault();
var url = $(this).attr("href");
var that = this;

  $.ajax({
    url: url,
    method: "POST",
    dataType: "json",
    success: function(data){
    $("#pay_qrcode").html("<%=j raw @qr.as_html %>");
    }
  })
})


</script>
