<div class="pull-right">
  <%= link_to "添加收货地址", new_address_path, class: "btn btn-info btn-xs new-address-btn" %>
</div>
<div class="clearfix"></div>
<br />
<div class="adress-index clearfix">
  <% unless @addresses.blank? %>
    <% @addresses.each_with_index do |address, index| %>
      <% if current_user.default_address_id == address.id %>
      <div class="address-item col-sm-3 clearfix default-address">
      <% else %>
      <div class="address-item col-sm-3 clearfix">
      <% end %>
        <h4><%= address.address %></h4>
        <h5><%= address.cellphone %></h5>
        <h6><%= address.contact_name %></h6>
          <%= link_to "修改", edit_address_path(address), remote: true, class: "inline edit-address-btn" %>
          <%= link_to "删除", address_path(address), remote: true, method: 'delete', "data-confirm": "确认删除该地址吗？", class: "remove-address-btn inline" %>
          <% if current_user.default_address_id == address.id %>
            <span class="default_address">默认地址</span>
          <% else %>
            <%= link_to "设为默认", set_default_address_address_path(address), remote: true, method: 'put', class: "set-default-address-btn inline" %>
          <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="list-group-item">
      请添加送货地址
    </div>
  <% end %>
  <input type="hidden" name="address_id" value="<%= current_user.default_address_id if current_user.default_address_id.present? %>" id="address-helper">
</div>

<script>
<% unless @addresses.blank? %>
  <% @addresses.each_with_index do |address, index| %>
  $("#address-<%= address.id %>").click(function(){
    $("#address-helper").val(<%= address.id %>);
  })
<% end %>
<% end %>

</script>
