<h2>Edit Product</h2>

<%= simple_form_for [:admin,@product] do |f| %>
<div class="group"><%= f.input :title%></div>
<div class="group"><%= f.input :description%></div>
<div class="group"><%= f.input :slogan %></div>

<%= f.submit "submit" %>
<% end %>
