<!DOCTYPE html>
<html>
    <head>
        <title>Jdstore</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
    </head>

    <body>
      <div class="container-fluid body-content">
        <div class="content-inside">
          <div class="row">
            <%= render "common/navbar" %>
          </div>
          <%= render "common/flashes" %>
          <%= yield %>
        </div>
        </div>

        <%= render "common/footer"%>
        <%= javascript_include_tag 'application' %>
        <%= yield :javascripts %>

      
      <%= render "common/footer" %>

    </body>
</html>
